html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* evita scroll su iPhone */
    overscroll-behavior: none; /* evita swipe-back e bounce */
    background: #f0f0f0;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 10px;
    font-size: 22px;
}

/* Wrapper che solleva la scacchiera dal bordo inferiore */
#boardWrapper {
    padding-bottom: calc(env(safe-area-inset-bottom) + 40px);
    /* 40px extra per sicurezza */
}



canvas {
    margin-top: 10px;
    border: 3px solid #333;

    width: 95vw;
    max-width: 480px;
    aspect-ratio: 1 / 1; /* mantiene forma quadrata */
    display: block;

    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

button, #newGameBtn {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 12px 24px;
    font-size: 18px;

    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-tap-highlight-color: transparent;
}



